:root {
  --bg2-color: #fff;
  --bg-color: #212121;
  --tag-color: #aaa;
  --highlight-color: #d36b1b;
  --title-color: #d36b1b;
  --text2-color: #333;
  --text-color: #e2e2e2;
}

@font-face {
  font-family: JetBrainsMono;
  src: url(../fonts/JetBrainsMono-Regular.woff2);
  font-weight: normal;
}

@font-face {
  font-family: JetBrainsMono;
  src: url(../fonts/JetBrainsMono-Bold.woff2);
  font-weight: bold;
}

img {
  display: block;
  max-width: 100%;
  margin: 32px auto;
}

@media (min-width: 1100px) {
  img[src*="#img-left-out"] {
    float: left;
    margin: 10px 30px 10px -150px;
    max-width: 500px;
  }
}

@media (min-width: 1100px) {
  img[src*="#img-out"] {
    margin: 30px -150px;
    max-width: 1050px;
  }
}

img[src*="#img-left-in"] {
  margin: 10px 0;
  width: 100%;
}

@media (min-width: 340px) {
  img[src*="#img-left-in"] {
    float: left;
    max-width: 40%;
    margin: 10px 25px 10px 0;
  }
}

@media (min-width: 600px) {
  img[src*="#img-left-in"] {
    margin: 10px 30px 10px 0;
    max-width: 300px;
  }
}

body {
  margin: 0 auto;
  font-family: JetBrainsMono, Roboto, -apple-system,BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1rem;
  line-height: 1.7;
  text-rendering: optimizeLegibility;
  color: var(--text-color);
  background-color: var(--bg-color);
  font-kerning: normal;
  font-feature-settings: "kern" 1;
}

h1, h2, h3, h4 {
  color: var(--title-color);
  margin-top: 2.4rem;
  margin-bottom: -0.4rem;
  line-height: 1.2;
  letter-spacing: -0.03rem;
}

h1 {
  margin: 0;
  font-weight: bold;
  font-size: 1.75rem;
}

h2 {
  font-weight: bold;
  font-size: 1.5rem;
}

h3 {
  font-weight: bold;
  font-size: 1.25rem;
}

h4 {
  font-weight: bold;
  font-size: 1rem;
}

h1 a,
h2 a,
h3 a,
h4 a {
  text-decoration: none;
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover {
  text-decoration: underline;
}

.site-link {
  text-decoration: none;
}

.site-title {
  color: var(--text-color);
}

.site-title strong {
  color: var(--highlight-color);
}

.site-header {
  display: flex;
  column-gap: 1rem;
  align-items: center;
  justify-content: space-between;
  margin: 2rem auto;
  max-width: calc(800px - (20px * 2));
  padding-right: 20px;
  padding-left: 20px;
}

.site-article {
  margin: 2rem auto;
  max-width: calc(800px - (20px * 2));
  padding-right: 20px;
  padding-left: 20px;
}

.site-menu {
  margin: 0 auto;
  max-width: calc(800px - (20px * 2));
  padding-right: 20px;
  padding-left: 20px;
}

.site-mastodon {
  width: 1.6rem;
  display: flex;
  align-items: center;
}

.site-footer {
  color: var(--tag-color);
  font-size: 0.875rem;
  margin: 2rem auto;
  max-width: calc(800px - (20px * 2));

}

menu {
  padding: 0;
  margin: 0;
}

menu > ul {
  display: flex;
  list-style-type: none;
  list-style-position:initial;
  margin: 0.5rem 0 2rem 0;
  padding: 0;
  overflow-x: auto;
}

menu > ul > li {
  margin-right: 1rem;
  margin: 0;
  padding: 0;
}

menu > ul > li > a,
menu > ul > li > a:visited {
  display: block;
  text-decoration: none;
  color: var(--tag-color);
  font-size: 0.9rem;
  padding: 0.6rem 1rem 0.6rem 0;
}

menu > ul > li > a:hover {
  text-decoration: underline;
}

ul {
  margin: 0;
  padding: 0;
  margin-left: 1.8rem;
  margin-bottom: 0.9rem;
}

li {
  margin: 1rem 0;
}

p {
  margin: 1.4rem 0;
}

pre {
  font-size: 0.85rem;
  border-radius: 0.25rem;
  background-color: var(--bg2-color);
  padding: 0.9rem 1.1rem;
  overflow-x: auto;
  color: var(--text2-color);
}

a, a:visited {
  color: var(--highlight-color);
}

.hero {
  font-size: 2rem;
}

.wrapper {
  margin: 0 auto;

}

.sub {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 1.15rem;
  column-gap: 1rem;
  row-gap: 0.4rem;
}

time {
  border: 0;
  display: flex;
  font-weight: bold;
  font-size: 0.875rem;
  color: var(--text-color);
  padding: 0rem;
  border-radius: 0.25rem;
}

.article-top {
  padding: 2rem 0;
}

.article-bottom {
  background-color: #e2e2e2;
  color: #212121;
  padding: 2rem 0;
}

.article-header {
  margin: 0 auto;
  max-width: calc(800px - (20px * 2));
  padding-right: 20px;
  padding-left: 20px;
}

.article-main {
  margin: 0 auto;
  max-width: calc(800px - (20px * 2));
  padding-right: 20px;
  padding-left: 20px;
}

.category {
  color: var(--tag-color);
}

.tags {
  display: flex;
  column-gap: 1rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.tags li {
  margin: 0rem;
  display: flex;
  font-size: 0.875rem;
}

.tags li a {
  border: 0;
  display: flex;
  text-decoration: none;
  font-size: 0.875rem;
  padding: 0;
  color: var(--tag-color);
  border-radius: 0.25rem;
}

.tags li a:hover {
  text-decoration: underline;
}

.post-header {
  display: flex;
  flex-direction: column;
}


@media (min-width: 600px) {
  .post-header {
    display: flex;
    flex-direction: row;
  }
}


.post-header img {
  flex-shrink: 0;
  width: 160px;
  margin: 0 20px 0 0;
}

.post-title {
  margin-top: 0;
}
